@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
h3 {
    margin: 0;
}
.cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 90vw;
    margin: auto;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel.active {
    flex: 5;
}
.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 26px;
    opacity: 0;
}